# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\sarap\OneDrive\Documents\UVG\Año 2\3er. Semestre\Algoritmos y estructuras de datos\HT\Llenas\HojaDeTrabajo6_Algoritmos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
